<html>
<head> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/bootstrap-icons.svg"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<style>
body{
	background-image: url('https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg');
}
</style>
<body>
<!-- ALTO -->
<a href="api/alto">
<button type="button" class="btn btn-success btn-lg btn-block"><b>ALTO</b></button>
</a>
<!-- CELERIO -->
<a href="api/celerio">
<button type="button" class="btn btn-success btn-lg btn-block"><b>CELERIO</b></button>
</a>
<!-- BALENO -->
<a href="api/baleno">
<button type="button" class="btn btn-success btn-lg btn-block"><b>BALENO</b></button>
</a>
<!-- CIAZ -->
<a href="api/ciaz">
<button type="button" class="btn btn-success btn-lg btn-block"><b>CIAZ</b></button>
</a>

<!-- DZIRE -->
<a href="api/dzire">
<button type="button" class="btn btn-success btn-lg btn-block"><b>DZIRE</b></button>
</a>
