<html>
<head> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/bootstrap-icons.svg"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<style>
body{
	background-image: url('https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg');
}

#logo{
	position: relative;
	top: 160px;
	left: 500px;
	position: fixed;
	opacity: 100%;
	overflow: hidden;
    margin: 0 auto;
}

#logo:hover img{
	transform: scale(1.2);
}

#logo:hover{
	opacity: 60%;
	transform: scale(1.1);
}

#logo img{
	transform: 0.2s all ease-in-out;
}

#try{
	position: relative;
	top: 500px;
	left: 620px;
}
</style>
<body>

<img id="logo" height="300px" src="../static/ms.png">
<a href="api">
<button  id="try" type="button" class="btn btn-primary">API </button>
</a>
</body>
</html>